/*标签设置*/
.btn-primary {
    background-color: #00FAA5;  /*标签填充色*/
    border-color: #00FAA5;  /*标签边框色*/
    height:38px;  /*标签高度*/
    font-size: 15px;  /*标签中文字字体*/
    color:black;  /*标签中文字颜色*/
}

/*bootstrap中巨幕的自定义设置*/
.jumbotron{
	background: url(../images/header.jpg);  /*插入背景图片*/
	color: white;  /*文字颜色*/
	padding:100px;  
	/*以下为图片全屏设置*/
	background-size: cover;
 	background-position: center;
  	background-attachment: fixed;
  	/*以上为图片全屏设置*/
  	margin-bottom:40px;
  	font-family: Microsoft YaHei;
  }


.jumbotron h1{
	font-size: 36px;
}

.jumbotron p{
	padding-top: 5px;
	font-size: 17px;
	margin-bottom: 8px;
}

.text-line {
	text-align:center;  /*文字居中*/
	font-family: "微软雅黑";
}

.text-line h3{
 	font-size: 26px;
}


.description{
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
}

.description .container{
	margin:0px;
}

.item{
	padding-right:15px;
	display: inline-block;
	text-align: center;
	width: 33%;  /*container部分三等分*/
	height: auto;
	margin-bottom: 50px;
}

.item img{
	width:35px;
}

.poweredby-info{
margin-left: 115px;
margin-right: 115px;
margin-bottom: 40px;
}